
/*Main*/
body {
    /* Placeholder for the background image path */
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: blueviolet;
}



/*radar*/
.radar-circle {
    fill: none;
    stroke: #CCCCCC;
    stroke-width: 0.5;
}

.radar-line {
    fill: none;
    stroke: rgb(187, 207, 205);
    stroke-width: 2;
}

.genre-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.genre-controls label {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;  /* Makes it clear that the label can be clicked */
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.genre-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.all-genres-icon{
    background-image: url('images/spotify_icon1.png');
}
.punk-rock-icon {
    background-image: url('images/drum.png');
}

.pop-icon {
    background-image: url('images/compact-disc.png');
}

.acoustic-icon {
    background-image: url('images/sound.png');
}

#radarChart {
    float: left;
    margin-left: 60px;
}

#showAllGenresButton {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    background-image: url('images/spotify_icon1.png'); /* Replace with your icon path */
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px; /* Adjust based on your icon size */
}



/*Slider and world map*/
#worldMap {
    background-color: white;
}

.slider-container {
    position: relative;
    width: 60%;
    margin: 20px auto;
    z-index: 10; /* Ensure the slider is above the map */
}

.year-slider {
    width: 100%;
    height: 25px;
    background: transparent;
    outline: none;
    -webkit-appearance: none;
}

.year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-image: url('images/icons8-spotify-48 (1).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1; /* Fully opaque when not dragging */
    transition: opacity 0.3s;
}


.year-slider::-webkit-slider-thumb:active { /* When the thumb is being dragged */
    background-image: url('images/icons8-spotify-48.png');
    opacity: 0.8; /* 50% transparent */
}

.year-slider::-webkit-slider-thumb:hover {
    background-image: url('images/icons8-spotify-48.png');
    opacity: 0.8; /* 50% transparent */
}

.year-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-image: urlurl('images/icons8-spotify-48 (1).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1; /* Fully opaque when not dragging */
}

.year-slider::-moz-range-thumb:active { /* When the thumb is being dragged */
    background-image: url('images/icons8-spotify-48.png');
    opacity: 0.8; /* 50% transparent */
}

.year-slider::-webkit-slider-thumb:hover {
    background-image: url('images/icons8-spotify-48.png');
    opacity: 0.8; /* 50% transparent */
}

.year-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 1px;
    border: 0.2px solid #010101;
}

.year-slider::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 1px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.start-label, .end-label, .current-label {
    font-size: 12px;
    color: #333;
}

.current-label {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 14px;
}


/*ridge*/
.xAxis line {
    stroke: #B8B8B8;
  }
  /* Add other styles as needed */

/*parallel*/
.axis {
    opacity: 0.4;
}
.axis:hover {
    opacity: 1;
}